<div
  class="m-2 p-2 w-60 relative
         shadow-lg rounded-md overflow-hidden
         {{ course.places > 1 ? 'bg-primary-light' : 'bg-neutral-light' }}
         {{ course.places === 0 ? ' opacity-80' : '' }}
         {{ course.places === 1 ? ' opacity-100' : '' }}"
>
  <div *ngIf="isUser(1)" class="bg-blue-light absolute top-0 -left-10 z-10 -rotate-45 w-32 h-4 opacity-100">&nbsp;</div>
  <div *ngIf="isUser(2)" class="bg-pink-light absolute top-4 -left-8 z-10 -rotate-45 w-32 h-4">&nbsp;</div>
  <div class="flex justify-between z-20">
    <div class="text-left z-20">{{ course.hour }}</div>
    <div class="text-right text-sm z-20">{{ course.prof }}</div>
  </div>
  <div class="relative pt-0 text-xl h-14 text-center z-20">{{ course.title }}</div>
  <div *ngIf="course.places > 1" class="text-sm">{{ course.places }} places restantes</div>
  <div *ngIf="course.places === 1" class="text-sm">{{ course.places }} place restante</div>
  <div *ngIf="course.places === 0" class="text-sm">Plus de place restante</div>
</div>
