<nav class="bg-primary-default sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <!-- Icon -->
        <div class="flex-shrink-0">
          <svg class="h-8 w-8 fill-secondary-light stroke-secondary-light">
            <use xlink:href="assets/img/symbol-defs.svg#golf2"></use>
          </svg>
        </div>
        <!-- Menu horizontal gauche-->
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <button
              *ngFor="let link of links"
              routerLink="{{ link.path }}"
              class="px-3 py-2 rounded-md text-lg flex focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-primary-light"
              [class.text-secondary-light]="link.selected"
              [class.font-bold]="link.selected"
              [class.text-primary-light]="!link.selected"
              [class.font-medium]="!link.selected"
              [class.hover:text-secondary-light]="!link.selected"
            >
              <svg
                *ngIf="link.icon"
                class="h-6 w-6 mx-2"
                [class.fill-secondary-light]="link.selected"
                [class.stroke-secondary-light]="link.selected"
                [class.fill-primary-light]="!link.selected"
                [class.stroke-primary-light]="!link.selected"
              >
                <use [attr.xlink:href]="getIconAttr(link.icon)"></use>
              </svg>
              <span>{{ link.label }}</span>
            </button>
          </div>
        </div>
        <div
          *ngFor="let link of links.concat(linksUser)"
          [class.hidden]="!link.selected"
          class="md:hidden px-3 py-2 rounded-md text-lg flex text-secondary-light fill-secondary-light stroke-secondary-light"
        >
          <svg *ngIf="link.icon" class="h-6 w-6 mx-2">
            <use [attr.xlink:href]="getIconAttr(link.icon)"></use>
          </svg>
          <span>{{ link.label }}</span>
        </div>
      </div>
      <div class="hidden md:block">
        <!-- Menu horizontal droite -->
        <div class="ml-4 flex items-center md:ml-6">
          <div class="ml-3 relative">
            <golf-planning-filter></golf-planning-filter>
          </div>

          <div class="ml-3 relative">
            <golf-planning-user [user]="user" [linksUser]="linksUser" class="text-primary-light"></golf-planning-user>
          </div>
        </div>
      </div>

      <div class="-mr-2 flex md:hidden">
        <golf-planning-filter></golf-planning-filter>
        <!-- Mobile menu button -->
        <button
          type="button"
          class="inline-flex items-center justify-center py-2 px-0 sm:px-2 rounded-md hover:text-secondary-light focus:outline-none"
          [matMenuTriggerFor]="mobileMenu"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg class="h-8 w-8 mx-2 fill-primary-light stroke-primary-light">
            <use xlink:href="assets/img/symbol-defs.svg#menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Menu mobile -->
  <mat-menu #mobileMenu="matMenu" class="bg-primary-default shadow-md shadow-primary-dark border border-opacity-10 border-primary-dark">
    <div *ngIf="links.length > 0" class="px-2 pt-2 pb-3 space-y-1 sm:px-3 border-b border-primary-light">
      <a
        *ngFor="let link of links"
        routerLink="{{ link.path }}"
        class="px-3 py-2 text-primary-light flex"
        [class.text-secondary-light]="link.selected"
        [class.font-bold]="link.selected"
        [class.text-primary-light]="!link.selected"
        [class.font-medium]="!link.selected"
        [class.hover:text-secondary-light]="!link.selected"
        role="menuitem"
        tabindex="-1"
      >
        <svg
          *ngIf="link.icon"
          class="h-6 w-6 mr-2"
          [class.fill-secondary-light]="link.selected"
          [class.stroke-secondary-light]="link.selected"
          [class.fill-primary-light]="!link.selected"
          [class.stroke-primary-light]="!link.selected"
        >
          <use [attr.xlink:href]="getIconAttr(link.icon)"></use>
        </svg>
        <span>{{ link.label }}</span>
      </a>
    </div>
    <div class="pt-4 pb-3">
      <div class="flex items-center px-5">
        <golf-planning-user [user]="user" class="text-primary-light"></golf-planning-user>
      </div>
      <div class="mt-3 px-2 space-y-1">
        <a
          *ngFor="let link of linksUser"
          routerLink="{{ link.path }}"
          class="px-3 py-2 text-primary-light flex"
          [class.text-secondary-light]="link.selected"
          [class.font-bold]="link.selected"
          [class.text-primary-light]="!link.selected"
          [class.font-medium]="!link.selected"
          [class.hover:text-secondary-light]="!link.selected"
          role="menuitem"
          tabindex="-1"
        >
          <svg
            *ngIf="link.icon"
            class="h-6 w-6 mr-2"
            [class.fill-secondary-light]="link.selected"
            [class.stroke-secondary-light]="link.selected"
            [class.fill-primary-light]="!link.selected"
            [class.stroke-primary-light]="!link.selected"
          >
            <use [attr.xlink:href]="getIconAttr(link.icon)"></use>
          </svg>
          <span>{{ link.label }}</span>
        </a>
      </div>
    </div>
  </mat-menu>
</nav>
<header></header>
