<div class="w-full h-screen flex flex-col sm:flex-row">
  <!-- Colonne gauche  -->
  <div class="h-full flex-grow sm:max-w-[50%] flex flex-col">
    <svg class="m-5 h-20 w-20 fill-primary-dark stroke-primary-dark">
      <use xlink:href="assets/img/symbol-defs.svg#golf2"></use>
    </svg>
    <div class="ml-5 text-primary-dark capitalize font-extrabold">erreur 501</div>
    <div class="ml-5 text-neutral-dark font-extrabold text-2xl">Non encore implémenté</div>
    <div class="ml-5 text-neutral-default">Désolé, je fais ce que je peux, mais cette fonctionnalité n'est pas encore implémentée.</div>
    <a href="/" class="m-5 text-primary-dark">Retour au départ -></a>
  </div>
  <!-- Colonne droite  -->
  <div class="h-full flex-grow sm:max-w-[50%] flex justify-center overflow-hidden">
    <img class="h-full max-w-none" src="assets/img/golf.gif" />
  </div>
</div>
