<button
  type="button"
  class="inline-flex items-center justify-center p-2 rounded-md hover:text-secondary-light focus:outline-none"
  (click)="showFilterMenu = !showFilterMenu"
  aria-controls="filter-menu"
  aria-expanded="false"
>
  <span class="sr-only">Open filter menu</span>
  <svg class="h-8 w-8 mx-2 fill-primary-light stroke-primary-light">
    <use xlink:href="assets/img/symbol-defs.svg#filter"></use>
  </svg>
</button>
<div
  *ngIf="showFilterMenu && filters.length > 0"
  @enterAnimationVertical
  class="origin-top-right absolute right-0 mt-2 w-52 rounded-md shadow-lg py-1 bg-primary-default ring-1 ring-primary-light ring-opacity-50 focus:outline-none"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="user-menu-button"
  tabindex="-1"
>
  <div *ngFor="let filter of filters" class="">
    <label *ngIf="!filter.isSeparateur()" class="inline-flex items-center py-2 px-3">
      <input
        type="checkbox"
        (change)="selectChange(filter)"
        class="form-checkbox h-5 w-5 mr-2 text-secondary-dark bg-neutral-default border-neutral-default focus:ring-0 focus:ring-neutral-light"
        [checked]="filter.selected"
      />
      <svg *ngIf="filter.icon" class="h-8 w-8 fill-neutral-default stroke-neutral-default" [class.fill-neutral-light]="filter.selected" [class.stroke-neutral-light]="filter.selected">
        <use [attr.xlink:href]="'assets/img/symbol-defs.svg#' + filter.icon"></use>
      </svg>
      <span *ngIf="filter.label" class="text-neutral-default" [class.text-neutral-light]="filter.selected">
        {{ filter.label }}
      </span>
    </label>
    <div *ngIf="filter.isSeparateur()" class="bg-neutral-default h-px mx-1"></div>
  </div>
</div>

